body {

}

.signUp-group{
  width: 550px;
  height: 400px;
  position: Sticky;
  margin-top: 50px;
  left: 34%;
  margin-left: 50px;
  margin-right:50px;
  background-color:rgb(255, 255, 255)
}

h{
    position: Sticky;
    font-weight: bold;
    font-size:50px;
    color: rgb(250, 0, 0);
    margin-left: 20px;
    margin-right: 1160px;
}

a{
    font-weight: bold;
    position: Sticky;
    font-size:18px;
    color: rgb(0, 0, 0);
    margin-right: 20px;
    margin-left: 20px;
}


p{
    margin-left: 20px;
    margin-top: 15px;
    font-size:15px;
    top: 55%;
}

h1{
    position: Sticky;
    font-weight: bold;
    font-size:30px;
    margin-top: 10px;
    margin-left: 20px;
}

p2{
    margin-left: 20px;
    margin-right: 60px;
    font-size:17px;
}

p3{
    position: relative;
    margin-top: 70px;
    margin-left: 20px;
    font-size:18px;
    margin-right: 1000px;
}

p4{
    font-weight: bold;
    margin-left: 20px;
    font-size:17px;
}

.input-group1{
  width: 370px;
  height: 60px;
  margin-top: 20px;
  margin-left: 20px;
}
.forget{
    color:rgb(50, 150, 255);
    font-size:16px;
}

#nextbtn{
  width: 370px;
  height: 45px;
  margin-top: 40px;
  background-color:rgb(250, 0, 0);
  font-size:20px;
  color: #ffffff;

}